div *{
    background-color: #EBDDF4;
}

h1{
    font-family : 'Urbanist', sans-serif;
    color : #370356;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    fill : solid;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 96px;
    text-align : center;
}

p{
    font-family : 'Urbanist', sans-serif;
    font-style : normal;
    font-weight : 900;
    font-size : 40px;
    line-height : 48px;
    text-align : center; 
}

/*Resize the wrap to see the search bar change!*/
.s{
  width: 30%;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -20%);
}

.search label {
    opacity: 1;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.8);
    cursor: pointer;
    pointer-events: all;
    transition: all var(--cubic);
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}
   
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
} 
  
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button 
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 0px;
    border-left: none; /* Prevent double borders 
    cursor: pointer;
}*/

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}