* {
    background-color: rgba(235, 221, 244, 1);
}

#orizzontale {
    background-color: transparent;
    top: 350px;
    position: absolute;
    margin: 0 auto;
    width: max-content;
    align-items: center;
}


.homepage-text-tytle {

    color: var(--dl-color-default-titlecolor);
    width: auto;
    height: auto;
    position: static;
    font-size: 80px;
    align-self: auto;
    text-align: center;
    font-family: Urbanist;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    background: transparent;
}

.homepage-text-azienda {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;
    text-align: center;

    background: linear-gradient(269.59deg, #D55E79 15.08%, #D7AD0E 94.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.homepage-text-community {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;
    text-align: center;

    background: linear-gradient(270deg, #51CFCA 18.79%, #803ED9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.homepage-text-shirtoftheweek {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;
    text-align: center;

    background: linear-gradient(270.33deg, #8E11DD 0.47%, #E9775B 99.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.homepage-div-spazio {
    height: 200px;
    width: 100%;
}

.homepage-div-profilo {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 5%;
}

#profilo {
    background-image: url(https://github.com/UrbanShirt/implementation/blob/main/images/profilo-icon.jpg?raw=true);
    width: 50px;
    height: 50px;
    border-color: transparent;
    cursor: pointer;
}

#proposteazienda-button {
    background: var(--dl-color-default-barwindows) url(../images/maglietteazienda721-49t-500w.png) no-repeat bottom center;
    padding-bottom: 16px;
}